<div class="row">
	<div class="col-md-12">
		<h1>New Person</h1>
		<p>Create a <strong>Person</strong> in your Family Budget if you want to display the income and expenses a given person in your household has. You can link <em>outgoing</em> notations on a Person to incomming notations on a given Sub Budget.</p>
		<%= render 'form' %>
	</div>
</div>