<% content_for :page_title,  "Budgets" %>

<div class="section">
    <div class="container">
        <% @budgets.each do |budget| %>
            <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= link_to budget.name, budget  %></p>
              </div>
            </div>
            <div class="content">
                 <%= budget.description %>
            </div>
            <div class="comment-count">
                <span class="tag is-rounded"><%= budget.expenses.count %> expenses</span>
            </div>
          </div>
        </div>
        <% end %>
    </div>
</div>