<h1>Sub Budget Notation</h1>

<div class="row">
    <div class="col-md-12">
      
        <%= render "home/subbudget" %>  
      
    </div>
</div>
<%= link_to "New Sub Budget Notation", new_sub_budget_notation_path, method: :get %>