<h3>Search for Users</h3>

  <%= form_tag search_user_path, remote: true, method: :get do %>
        <%= text_field_tag :search_param, params[:search_param], placeholder: "Enter name or email", autofocus: true, class: "" %>
        <%= button_tag(type: :submit, class: "") do %>
          Search
        <% end %>
  <% end %>
<div id="results">
  <%= render 'users/result' %>
</div>