                  <div class="row">
                  	
                  	<%= render "home/search" %>

                  </div>
                  
                  <div class="row">
                    
                      <%= render "home/information" %>
                      
                  </div>

                  <div class="row">
                      <div class="col-md-12">
                        
                          <%= render "home/subbudget" %>  
                        
                      </div>
                  </div>
                  
