/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
// @import "bootstrap";
// @import "animate";
// @import "light-bootstrap-dashboard";
// @import "pe-icon-7-stroke";
// 
//= require bootstrap.min
//= require animate.min
//= require light-bootstrap-dashboard
//= require demo
//= require driver
//= require pe-icon-7-stroke
//= require family_budgets
//= require home
//= require person_budget_notations
//= require sub_budget_notations
//= require people

.card {
	margin-top: 5px;
}

.list-group {
	margin-top: 5px;
}

@media (min-width: 768px) {
	.modal-dialog {
  	  width: 70%;
    	margin: 50px auto;
	}
	

}

@media (max-width: 768px) {
	.form-inline > .form-group {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.card > .header > a.btn.btn-default.btn-sm.pull-right {
	}
}

