<div class="row">
	<div class="col-md-12">
		<h1>New Budget</h1>
		<p>Name it wisely. You only get one. The <strong>Family Budget</strong> is the container for your budgets. In here you create your <strong>Sub Budgets</strong> for every category you need, and add all the <strong>People</strong> involved in the budget.</p>
		<%= render 'form' %>		
	</div>
</div>
<script>
	var flash = createFlashMessage('<%= j flash[:notice] %>', '<%= j flash[:alert] %>');

	$.notify({
	    icon: 'pe-7s-flag',
	    message: flash.message

	  },{
	      type: flash.messageType,
	      timer: 500
	});
</script>
