<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= expense.title %>:</strong>
          <%= expense.description %>
          <%= expense.amount %>
        </p>
      </div>
    </div>
     <%= link_to 'Delete', [expense.budget, expense],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
  </article>
</div>